/*
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-icons
 *= require_tree .
 */

@import "foundation_and_overrides";

.note-padding {
  padding-top: 55px;
}

text {
  font: 10px sans-serif;
}

.bubble-graph {
}

#bubble-graph {
  width: 200px;
}

.cut {
  font-size: 20px;
  color: #ccc;
  margin: 3.3em 0;
  text-align: center;
}
.cloud {
  text-align: center;
  height: 500px;
  width: 1200px;
}

.cloud svg {
  position: relative;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.loading {
    overflow: hidden;
    background: rgba( 255, 255, 255, .8 )
                image-url('ajax-loader.gif')
                50% 50%
                no-repeat;
}

.box {
  .content {
    background-color: rgba(215,12,7,0.4);
    padding: 10px;
    text-align: center;
    .highlight {
      font-size: 2.5em;
    }
    .note {
      padding-top: 5px;
      font-weight: bold;
    }
  }
  .description {
    margin-top: 5px;
    padding: 10px 0px;
    background-color: #eee;
    padding: 5px;
    font-size: 0.8em;
  }

  &#pricier {
    .content {
      background-color: rgba(215,12,7,0.4);
    }
  }

  &#cheap {
    .content {
      background-color: rgba(57, 181,77, 0.8);
    }
  }

  &#cheapest {
    .content {
      background-color: rgba(57, 181,77, 0.8);
    }
  }
}
